@view-transition {
    navigation: auto;
}

:root {
    --swap-method: optional;
}

@font-face {
    font-family: minh;
    font-display: var(--swap-method);
    src: local("Minh Nguyen"), local("Minh Nguyen Regular"),
        url(_minh.woff2) format("woff2");
}

@font-face {
    font-family: gothic;
    font-display: var(--swap-method);
    src: local("Gothic Nguyen"), local("Gothic Nguyen Regular"),
        url(_gothic.woff2) format("woff2");
}

* {
    font-family: minh, gothic, system-ui, sans-serif;
    font-weight: normal;
}

th {
    text-align: center !important;
}

tr td:first-child {
    /* character font size */
    font-size: 15rem;
    text-align: center !important;
    font-family: minh;
}

tr td:last-child {
    /* example font size */
    font-size: 3rem;
    text-align: start !important;
    white-space: pre-wrap;
    font-family: gothic;
}

form {
    position: sticky;
    top: 0;
    background: var(--bg);
}

table {
    width: 100%;
}

.htmx-request.htmx-indicator {
    transition-delay: 1s !important;
}

#loading {
    width: 1.5rem;
    filter: invert(1);
}
@media (prefers-color-scheme: light) {
    #loading {
        filter: invert(0);
    }
}
@media (scripting: none) {
    #loading {
        display: none;
    }
}
