@view-transition {
    navigation: auto;
}

@font-face {
    font-family: minh;
    src: url(_minh.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: gothic;
    src: url(_gothic.woff2) format("woff2");
    font-display: swap;
}

* {
    font-family: minh, gothic, system-ui, sans-serif;
    font-weight: normal;
}

td {
    font-size: 2rem;
    white-space: pre-wrap;
}

tr td:first-child {
    font-size: 10rem;
}

form {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

.htmx-request.htmx-indicator {
    transition-delay: 1s !important;
}
